For React:

    We suggest that you begin by typing:

    cd client
    npm start

    Happy hacking!
    npm notice 
    npm notice New minor version of npm available! 8.1.2 -> 8.5.2
    npm notice Changelog: https://github.com/npm/cli/releases/tag/v8.5.2
    npm notice Run npm install -g npm@8.5.2 to update!

For Flask:
    * Serving Flask app 'server' (lazy loading)
    * Environment: production
    WARNING: This is a development server. Do not use it in a production deployment.
    Use a production WSGI server instead.
    * Debug mode: on
    * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
    * Restarting with stat
    * Debugger is active!
    * Debugger PIN: 715-690-846